
@{
    ViewData["Title"] = "Addannouncement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-header">
              <h3 class="page-title"> Add Announcement </h3>
            </div>
    <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Announcement</h4>
                    <form >
                      <div class="mb-3">
                        <label for="Announcement" class="form-label">Announcement</label>
                        <input type="text" class="form-control"  id="Announcement" />
                      </div>
                        <div class="mb-3">
                        <label for="Announcementfor" class="form-label">Announcement For</label>
                          <select class="form-select"  id="Announcementfor" aria-label="Default select example">
                              <option value="Patient" selected>Patient</option>
                              <option value="Doctor">Doctor</option>
                              <option value="Admins">Admins</option>
                            </select>
                        </div>
                        <div class="mb-3">
                        <label for="Aenddate" class="form-label">End Date</label>
                        <input type="date"  class="form-control" id="Aenddaate" />
                      </div>
                      <button type="submit"  class="btn btn-primary">Add</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

    

