
@{
    ViewData["Title"] = "Adddepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-header">
              <h3 class="page-title"> Add Department </h3>
            </div>
    <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Department</h4>
                <form asp-controller="Department" asp-action="Adddepartment" method="post">
                      <div class="mb-3">
                        <label for="Deptname"  class="form-label">Name</label>
                        <input type="text" name="Name" class="form-control" id="Deptname" />
                      </div>
                        <div class="mb-3">
                        <label for="Deptdesc" class="form-label">Description</label>
                        <input type="text" name="Description" class="form-control" id="Deptdesc" />
                            </div>
                        <div class="mb-3">
                        <label for="Deptstatus" class="form-label">Status</label>
                          <select class="form-select" name="Status" id="Deptstatus" aria-label="Default select example">
                              <option value="Active" selected>active</option>
                              <option value="Close">Close</option>
                              <option value="Busy">Busy</option>
                            </select>
                        </div>
                      <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                @if (TempData["msg"] != null)
                {
                    <script>
                        alert('@TempData["msg"].ToString();');
                        window.location.href = "@Url.Action("Listofdep","Department")";
                    </script>
                }
                  </div>
                </div>
              </div>
            </div>
    


