
@{
    ViewData["Title"] = "Addappointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-header">
              <h3 class="page-title"> Add Appointment </h3>
            </div>
    <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Take Appointment</h4>
                <form asp-controller="Appointment" asp-action="Addappointment" method="post">
                      <div class="mb-3">
                        <label for="pname" class="form-label">Patient Name</label>
                        <input type="text" name="Patientname" class="form-control" id="pname" />
                      </div>
                        <div class="mb-3">
                        <label for="dname" class="form-label">Doctor Name</label>
                          <select name="Doctorname" class="form-select" id="dname" aria-label="Default select example">
                              <option selected>Chosse</option>
                              <option value="Shrukant Sharma">Shrukant Sharma</option>
                              <option value="Nishani kansu">Nishani kansu</option>
                              <option value="murli parmar">murli parmar</option>
                            </select>
                        </div>
                        <div class="mb-3">
                        <label for="Appointmentdate" class="form-label">Appointment Date</label>
                        <input type="date"  name="AppointmentDate" class="form-control" id="Appointmentdate" />
                      </div>
                        <div class="mb-3">
                        <label for="problem" class="form-label">Problem</label>
                        <input type="text" name="Problem" class="form-control" id="problem" />
                      </div>
                      <button type="submit"  class="btn btn-primary">Take</button>
                    </form>
                     @if (TempData["msg"] != null)
                    {
                    <script>
                        alert('@TempData["msg"].ToString();');
                        window.location.href = "@Url.Action("Listofactiveappointment","Appointment")";
                    </script>
                    }
                  </div>
                </div>
              </div>
            </div>



