@*@if (TempData["role"] == "User")
{
    adlink.Visible = false;
    lpalink.Visible = false;
    aalink.Visible = false;
    amlink.Visible = false;
    aambulink.Visible = false;
}*@





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospitalManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/assets/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
@*    <img src="~/assets/images/favicon.png" />
*@
</head>
<body>
     <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="./Dashboard.aspx" style="color:white">Medicate</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="search-field d-none d-xl-block">
                    <form class="d-flex align-items-center h-100" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" class="form-control bg-transparent border-0" placeholder="Search products">
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav navbar-nav-right mx-6">

                    <li class="nav-item nav-profile dropdown mx-6">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        @ViewData["email"]


                            <div class="nav-profile-text">
                                <asp:Label ID="username" CssClass="mb-1 text-black" runat="server" Text="User Name"></asp:Label>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">

                            <div class="p-2">

                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" asp-action="Logout" asp-controller="User">
                                    <span>Log Out</span>
                                    <i class="mdi mdi-logout ms-1"></i>
                                </a>
                            </div>
                        </div>
                    </li>


                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-category">Main</li>
                   @* <li class="nav-item">
                        <a class="nav-link" href="./Dashboard.aspx">
                            <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
                            <span class="icon-bg"><i class="mdi mdi-webhook menu-icon"></i></span>
                            <span class="menu-title">Departments</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic1">
                            <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" id="adlink" asp-controller="Department" asp-action="Adddepartment">Add Department</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Department" asp-action="Listofdep">List Of Departments</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
                            <span class="icon-bg"><i class="mdi mdi-tooltip-edit menu-icon"></i></span>
                            <span class="menu-title">Appointments</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic2">
                            <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Appointment" asp-action="Addappointment">Add Appointment</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Appointment" asp-action="Listofactiveappointment">List Of Active Appointment</a></li>
                            <li class="nav-item"> <a class="nav-link" id="lpalink" asp-controller="Appointment" asp-action="Listofpendingappointment">List Of Pending Appointment</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
                            <span class="icon-bg"><i class="mdi mdi-bookmark-check menu-icon"></i></span>
                            <span class="menu-title">Announcement</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic3">
                            <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" id="aalink" asp-controller="Announcement" asp-action="Addannouncement">Add Announcement</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Announcement" asp-action="Listofannouncement">List Of Announcement</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
                            <span class="icon-bg"><i class="mdi mdi-needle menu-icon"></i></span>
                            <span class="menu-title">Medicine</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic4">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" id="amlink"  asp-controller="Medicine" asp-action="Addmedicine">Add Medicine</a></li>
                                <li class="nav-item"> <a class="nav-link"  asp-controller="Medicine" asp-action="Listofmedicine">List Of Medicine</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic">
                            <span class="icon-bg"><i class="mdi mdi-ambulance menu-icon"></i></span>
                            <span class="menu-title">Ambulance</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic5">
                            <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" id="aambulink" asp-controller="Ambulance" asp-action="Addambulance">Add Ambulance</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Ambulance" asp-action="Listofambulance">List Of Ambulance</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item sidebar-user-actions">
                        <div class="user-details">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="d-flex align-items-center">

                                        <div class="sidebar-profile-text">
                                            <asp:Label ID="Label1" CssClass="mb-1"  Text="User Name"></asp:Label>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="badge badge-danger">3</div> -->
                            </div>
                        </div>
                    </li>
                    <li class="nav-item sidebar-user-actions">
                        <div class="sidebar-user-menu">
                            <a href="#" class="nav-link">
                                <i class="mdi mdi-settings menu-icon"></i>
                                <span class="menu-title">Settings</span>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item sidebar-user-actions">
                        <div class="sidebar-user-menu">
                        <a asp-action="Logout" asp-controller="User" class="nav-link">
                                <i class="mdi mdi-logout menu-icon"></i>
                                <span class="menu-title">Log Out</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                @RenderBody()


                </div>

                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="footer-inner-wraper">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="Home.aspx" target="_blank">Medicate </a>2021</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a href="Home.aspx" target="_blank"> Medicate</a> is a Best Hospital Management Tool.</span>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
    <script src="~/assets/vendors/chart.js/chart.min.js"></script>
    <script src="~/assets/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
    <script src="~/assets/js/jquery.cookie.js" type="text/javascript"></script>
        <!-- End plugin js for this page -->
    <!-- inject:js -->
         <script src="~/assets/js/off-canvas.js"></script>
        <script src="~/assets/js/hoverable-collapse.js"></script>
        <script src="~/assets/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="~/assets/js/dashboard.js"></script>
        <!-- End custom js for this page -->
    
 
    @*<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HospitalManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
